# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code IDE files
.vscode/

# Build directory from PyPI deployment
build/
dist/
xyfigure.egg-info

# Ignore coverage.py html output 
.coverage
# htmlcov/

# Ignore ircad data folder
ptg/data/ircad_numpy/*
ptg/notebooks/.ipynb*
