name: pytest

# reference:
# https://github.com/pybind/python_example/blob/master/.github/workflows/pip.yml

on: [push]

jobs:
  build:
    strategy:
      max-parallel: 2
      matrix:
        # platform: [ubuntu-latest, windows-latest, macos-latest]
        # platform: [windows-latest, macos-latest]
        platform: [ubuntu-latest, macos-latest]
        python-version: [3.9]
        #python-version: [3.9, 3.10]

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --user numpy scipy matplotlib pybind11
        pip install pytest
        cd cli/
        pip install -e .
        cd ../
        cd geo/
        pip install -e .
        cd ../
        cd geo/src/bind/
        pip install -e .
        cd ../../../
    # - name: Test with unittest
    - name: Test with pytest
      run: |
        pytest -v
